* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: "Roboto", sans-serif;
}

.header-container {
  display: flex;
  margin-top: 20px;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  background-color: rgba(255, 255, 255);
}

.header-img{
  position: absolute;
  top: 0;
  background-color: #fff;
  height: 200px;
  width: 200px;
  border-radius: 50%;
}

.header-container img {
  position: absolute;
  max-height: 200px;
  top: 0;
  left: 0;
}

.navbar {
  display: flex;
  flex-direction: row;
  gap: 30px;
  margin-right: 20px;
  list-style: none;
}

a {
  cursor: pointer;
  border: none;
  outline: none;
  background: transparent;
  color: black;
  font-weight: 700;
  position: relative;
  transition: all 0.5s;
  z-index: 1;
}

a::before {
  content: "";
  position: absolute;
  top: 0;
  left: -10px;
  width: 3px;
  height: 100%;
  background-color: grey;
  z-index: -1;
  transition: all 0.5s;
}

a:hover::before {
  width: 100%;
}

a:active:before {
  background: #b9b9b9;
}

.hero-left {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 60px;
  width: 100%;
}

.hero-left h1 {
  font-size: 56px;
  color: white;
  text-shadow: 1px 1px 2px #000;
  font-weight: bold;
}

.hero-left p {
  font-size: 20px;
  text-align: justify;
  font-weight: lighter;
  line-height: 40px;
  margin-bottom: 5%;
  margin-top: 30px;
  margin-left: 30%;
  margin-right: 30%;
  color: white;
  text-shadow: 1px 1px 2px #000;
}

.hero-right {
  width: 100%;
  max-height: 700px;
  margin: 40px;
}

#myVideo {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 100px;
  width: 100%;
  height: 100vh;
  object-fit: cover;
  z-index: -1;
}

#about-us {
  background-color: white;
  display: flex;
  padding: 100px;
  text-align:start;
  justify-content: flex-start;
  align-items: center;
}

#about-us h2 {
  font-size: 62px;
  margin-bottom: 50px;
  text-decoration: underline solid;
}

#about-us p {
  font-size: 20px;
  font-weight: lighter;
  text-align: justify;
  line-height: 40px;
}

.about-us {
    width: 50%;
    margin-right: 50px;
}

.about-us-right{
    width: 50%;
    align-items: center;
    justify-content: center;
}

#services{
  margin-left: 100px;
  margin-right: 100px;
  margin-bottom: 100px;
}

#services h3{
  font-size: 62px;
  text-align: center;
  margin-top: 80px;
  text-decoration: underline solid;
}

#services h5{
  font-size: 22px;
  text-align: center;
  justify-content: center;
  font-weight: lighter;
  margin: 50px;
}

.services{
  display: flex;
  flex-direction: row;
  justify-content:space-around;
  align-items: center;
}

.services-left , .services-right{
  font-size: 18px;
  font-weight: lighter;
  line-height: 30px;
  text-align:justify ;
  justify-content: flex-start;
  align-items: flex-start; 
}

.services-right ul{
  margin-top: 30px;
  font-size: 16px;
}

.services-right{
  width: 50%;
}

.services-left {
  margin-top: 50px;
  margin-right: 50px;
}

.services-left img{
  height: auto;
  max-width: 100%;
}

#contact h3{
  text-align: center;
  font-size: 62px;
  text-decoration: underline solid;
}

.contact {
  display: flex;
  flex-direction: row;
  justify-content:space-around;
  padding-bottom: 60px;
  padding-top: 60px;
  background-color: white;
}

.contact-right {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.contact-right span{
  font-weight: lighter;
}

.form-container {
  display: flex;
  flex-direction: column;
  gap: 15px;  
}

.input {
  line-height: 35px;
  border: 2px solid transparent;
  border-bottom-color: #777;
  padding: 0.2rem 0;
  outline: none;
  background-color: transparent;
  transition: 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.input:focus,
.input:hover {
  outline: none;
  padding: 0.2rem 1rem;
  border-color: #7a9cc6;
}

.input::placeholder {
  color: #777;
}

.input:focus::placeholder {
  opacity: 0;
  transition: opacity 0.3s;
}

.btn {
  padding: 1.3em 3em;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-weight: 500;
  color: #000;
  background-color: #fff;
  border: none;
  border-radius: 45px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
}

.btn:hover {
  background-color: #23c483;
  box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
  color: #fff;
  transform: translateY(-7px);
}

.btn:active {
  transform: translateY(-1px);
}

#footer {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 80px;
  background: rgb(215, 215, 215);
  background: linear-gradient(
    180deg,
    rgba(215, 215, 215, 1) 0%,
    rgba(255, 255, 255, 1) 100%
  );
}

.thanks{
  display: flex;
  overflow: hidden;
  position: relative;
  justify-content: center;
  align-items: center;
}

.thanks-bg{
  position:static;
  width: 100vw;
  height: 100vh;
  opacity: 0.5;
}

.thanks-content{
  display: flex;
  position:absolute;
}

.thanks-container{
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  background-color: #fff;
  border-radius: 10%;
  height: 600px;
  width: 500px;
  align-items: center;
  text-align: center;
  padding: 50px;
  box-shadow: 13px 7px 39px 0px rgba(0,0,0,0.78);
  -webkit-box-shadow: 13px 7px 39px 0px rgba(0,0,0,0.78);
  -moz-box-shadow: 13px 7px 39px 0px rgba(0,0,0,0.78);
  background-image: url(/img/logo_RMT-removebg-preview.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: top;
}